.buttons-magique{ 
  position: relative;
  padding: 0.85rem 1rem; 
/* margin-left: 400px;*/ 
  border-radius: 50px; 
  border: none;  
  outline: none; 
  background: #111;
  color: #fff; 
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.5s;
   
}
/*
button:first-child:hover{
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
}
*/
.buttons-magique:hover{
  background: linear-gradient(90deg, #fa7199, #f5ce62, #e43603, #fa7199);
  background-size: 400%;
    color: white!important;
}    
   
.buttons-ma gique:before{
  content: '';
  position: absolute;
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50px;
  filter: blur(20px); 
  opacity: 0;
  transition: opacity 0.5s;
   
}

.buttons-magique:hover:before{
  opacity: 1;
  z-index: -1;
}
.buttons-magique:hover{
  z-index: 1;
  animation: glow 10s linear infinite;
}
@keyframes glow {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}

.fa-user {
    font-size: 115%;

}