


/*** CARTE  ***/

.wrapper{
  position: relative;
  max-width: 1130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
    margin: 40px 0px;
}
.cart-nav{
/*  position: absolute;*/
  right: 0;
  top: -35%;
  width: 130px;
  background: #fff;
  padding: 10px 5px;
  border-radius: 3px;
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.15);
}
.cart-nav .icon{
  color: #ff7979;
}
.cart-nav .icon i{
  font-size: 20px;
}
.cart-nav .icon span{
  font-weight: 500;
}
.cart-nav .item-count{
  font-size: 15px;
  height: 23px;
  width: 23px;
  color: #ff799d;
  background: #ffcccc;
  text-align: center;
  line-height: 22px;
  border: 1px solid #ffb3b3;
  border-radius: 50%;
}
.wrapper .card{
  position: relative;
  background: #fff;
    height: 345px;
  border-radius: 8px;
  width: calc(33% - 25px);
    min-width: 350px;
    margin-right: 40px;
  overflow: hidden;
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.15);
}
.wrapper .card img{
  width: 100%;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.card:hover img{
  transform: scale(1.1);
}
.wrapper .card .content{
  position: absolute;
  width: 100%;
    height: 40%;
  bottom: -25%; /* placement du content */
  background: rgba(25, 25, 25, 0.75);
  padding: 10px 20px 22px 20px;
  box-shadow: 0px -3px 10px 0px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
}
.wrapper .card .bottombottom1 {
    /* bottom: -20%; /* placement du content */
}



.wrapper .card:hover .content{
  bottom: 0;
    background: rgba(25, 25, 25, 0.98);
   
}
.card .content .row,
.content .buttons{
  display: flex;
  justify-content: space-between;
}
.content .row .details span{
  font-size: 22px;
  font-weight: 500;
}
.content .row .details p{
  color: #7c7c7c;
  font-size: 15.5px;
  font-weight: 400;
    padding: 1px 5px;
      margin-top: 15px;
    
     text-align: left!important;
}

.content .row .price{
  color: #ff7979;
  font-size: 25px;
  font-weight: 600;
    padding: 0 3px;
}


:root {
    --rouge-rose-1 :#ad5454 ;
  
    --rouge-rose0 :#f47474 ;
      --rouge-rose1 :#e56868 ;
     --rouge-rose2 : #fc9696;
}

.quantiteBay {
    font-size: 55%!important;
    font-style: italic;
    background: rgba(201, 108, 140, 0.43) ;
    padding: 1px 2px;
    border-radius: 3px;

}
.right {
    position: absolute;
    right:6%;
  
}
.CombienDiv { 
bottom: 15%;
    width: 70px;
}
.session {
 
}

.session-title {
    font-size: 66%;
    transition: all 0.5s ease;

    font-family: 'Numans', sans-serif;
    text-align: center;
}

.session-signe {
   
    cursor: pointer;
    display: block;
    width: 1.3rem;
    height: 1.3rem; 
    border: 1px solid var(--rouge-rose1);
    border-radius: 4px;
    background-color: var(--rouge-rose1);
    box-shadow: 0 4px 0 var(--rouge-rose-1), 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px -1px #af3a2a;
    font-weight: 800;
    font-size: .8rem;
    transition: all 0.15s ease-in-out;
}

.session-signe:hover {

    background-color: var(--rouge-rose2);
    box-shadow: 0 4px 0 var(--rouge-rose1), 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px -1px #c4402f;
}

.session-signe:active {
    margin-top: -1px;
    box-shadow: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.session-time {
    text-align: center; 
    max-width: 25%;
    font-family: 'Numans', sans-serif;
    font-weight: bold;
    background: none;
    color: whitesmoke;
    border: none;
}

.plus-minus {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}


