@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html,body {
    background-color: rgb(20, 16, 17)!important;
}
.text-white {
    color: whitesmoke!important;
}
.text-white2 {
    color: #e0e0e0;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
} 
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
    background: rgb(0,123,255,0.3);
}
/*** add sub menu ***/
/*** add sub menu ***/
/*** add sub menu ***/
.content .links li a, .content .links li label {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.content .links li {
    list-style: none;
    line-height: 70px;
}
.menu-list input[type="checkbox"] {
    display: none;
}
.content .menu-list li label {
    display: none;
}
.labelPseudo {    

    color: #fff; 
    text-align: center;
    background: rgba(145, 145, 145, 0.54);
    padding: 5% 12%;
    border-radius: 6px;
    margin-left: 9px;

} 

.content .menu-list ul {
    width: auto;
    position:absolute;
    background: none;

    top: 80px;

    z-index: -1;
    opacity: 0;
    visibility: hidden;


    border-radius: 8px;

}
.content .menu-list ul li {
    position: relative;
    right: 5px;

}
.content .menu-list li {
    list-style: none; 
    line-height: 60px;

}

.content .menu-list ul li a{
    position: relative;
    display: block;
    width: 100%;
    background: rgba(27, 27, 27, 0.95);
    padding: 0px 0.6rem;
    line-height: 55px;
    border-radius: 0px!important;
    text-align: center;

}  

.content .menu-list li:hover> ul,.content .menu-list li:active> ul{
    top: 70px; 
    opacity: 1;  
    visibility: visible;
    transition: all 0.3s ease;
}

.buttons-magique:active {

}

.content .menu-list ul li:hover ul{
    top: 0;


}

/***fin add sub menu */
/***fin add sub menu */
/***fin add sub menu */
.content{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 10000;
    padding: 25px 0;
    transition: all 0.3s ease;
}
.navbar.sticky{
    background: #1b1b1b;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 2px 3px 5px rgba(253, 0, 0, 0.3);
}
.navbar .menu-list{
    display: inline-flex;
}
.menu-list li{
    list-style: none;

}
.menu-list li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.menu-list li a:hover{
    color: rgb(255, 198, 45);
}
.banner{
    background: url("https://media.giphy.com/media/8Py81X2P6RM2cErs6a/giphy.gif") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.about{
    padding: 30px 0;
    display: flex;
}
.about .title{
    font-size: 38px;
    font-weight: 700;
}
.descriptionsite p{
    padding-top: 20px;
    text-align: justify;
}
.icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}
@media (max-width: 1230px) {
    .content{
        padding: 0 60px;
    }
}
@media (max-width: 1100px) {
    .content{
        padding: 0 40px;
    }
}
@media (max-width: 900px) {
    .content{
        padding: 0 30px;
    }
}
@media (max-width: 868px) {
    body.disabled{
        overflow: hidden;
    }
    .icon{
        display: block;
    }
    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px; 
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #222;
        transition: all 0.3s ease;
    }
    .navbar.show .menu-list{
        left: 0%;
    }
    .navbar .menu-list li{
        margin-top: 45px;
    }
    .navbar .menu-list li a{
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a{
        margin-left: 0px;
    }
}
@media (max-width: 380px) {
    .navbar .logo a{
        font-size: 27px;
    }

    .content-left{
        /*  max-width: 1rem;*/
        margin-left: 1rem;


    }
}
.cart-nav {
    position: relative;
    top: 5px;
    left: 29px;
    width: 85px;
    margin-left: 10px;
    background: #1c1c1c;
    padding: 10px 5px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    box-shadow: 3px 3px 8px 0pxrgba(0,0,0,0.15);
}  
  
.cart-nav .icon{
  color: rgb(121, 255, 124); 
}  
.cart-nav .icon i{
  font-size: 20px; 
} 
.cart-nav .icon span{
  font-weight: 500;
}
.cart-nav .item-count{
  font-size: 15px;
  height: 23px;
  width: 23px;
  color: #ffffff;
  background: #f46a95;
  text-align: center;
  line-height: 22px;
  border: 1px solid #f46a95;
  border-radius: 50%;
}
.cart-nav .item-iconshop {
     font-size: 18px;
  width: 23px;
  color: #ffffff;
  text-align: center;
  line-height: 25px;
} 
/************************** *****************/
.content-left{
    /*  max-width: 1rem;*/
    margin-left: auto;


}
@media screen and (max-width: 1600px) {
    .content-left{
        /*  max-width: 1rem;*/
        margin-left: 3rem;


    }
}


.sidebar{
    /*   position: fixed;*/
    min-width: 16.5rem;
    top:0;
    left: 0;
    bottom: 0;
    background: #191919;
    padding: 60px 30px;
    margin: 3rem 0rem;
    border-radius: 10px;
    text-align: center;

}

.sidebar h1{
    display: block;
    /*   padding: 10px 20px;*/
    color: #fff;
    text-decoration:underline;

    letter-spacing: 2px;
    font-weight: 400;
    margin: 15px 0px;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

.sidebar a{
    display: block;
    padding: 10px 20px;
    color: #bbb;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
}

.sidebar a:hover{
    color: #fff;
    margin-left: 20px;
    transition: 0.4s;
}

/******* footer *****/
.social-group {
    background-color: #151515;
    padding: 0.8rem 2.1rem 0.35rem 2.1rem;
    border-radius: 50px;  

}
.mr-2 {
    margin-right: 1.5%;
}

.socialicon {
    font-size: 150%;
    transition: all 0.5s ease;

}
.socialicon:hover {
    font-size: 200%;
    color: rgb(255, 198, 45)!important;

}


#footer {
    /*    position: fixed;*/
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: 999;
    /*    margin-bottom: 0px;*/
}
.bottom center{
    padding: 20px 5px;
    font-size: 0.9375rem;


}
.bg-dark {
    background: #151515;
}
.bg-dark2 {
    background: #141011;

}

.bottom center span{
    color: #656565;
}
.bottom center a{
    color: #f12020;
    text-decoration: none;
}
.bottom center a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 900px) {
    footer{
        position: relative;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}

/***** **/
.text-shadow {
    text-shadow: 2px 3px 5px rgba(255, 255, 255, 0.22);
}
.text-point {
    text-decoration-line: underline!important;
    text-decoration-style: dotted!important;
}
.text-wavy {
    text-decoration-line: underline!important;
    text-decoration-style: wavy!important;
}

/****** SCROLL *****/
.containerScrool {
    position: relative;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    bottom : 21vh;
    left: 47px;


}

.chevron {

    position: absolute;
    width: 50px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;

}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

.scroll-downs {
    position: absolute;
    top: 81vh;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    width :34px;
    height: 55px;
}
.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

/****************************/
/************** MODAL ******/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 50000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
} 

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #191919;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 8px; 
    width: 35%;
    min-width: 475px;
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 24px;
    font-weight: bold;
    background: #f46a95;
    box-shadow: 0 4px 0 var(--rouge-rose-1), 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    padding: 0.1rem 0.68rem;
    border-radius: 15%;
    transition: all 0.2s eas e-in-out;
} 

.close:hover,
.close:focus {
    color: #f0f0f0;
     background-color: var(--rouge-rose2);
    box-shadow: 0 4px 0 var(--rouge-rose1), 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px -1px #c4402f; 
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
.close:active {
     margin-top: -1px;
    box-shadow: none;
}
.modal-header {
    padding: 15px 16px 12px 16px ;
    background-color: #191919;
    color: white;
    line-height: 28px;
}

.modal-body {padding: 5px 3px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}





.shopping-cart {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;

    display: flex;
    flex-direction: column;
}
.titlePanier {
    height: 75px;
    text-align: end;
    padding: 20px 10%; 
     font-size: 20px;
    color: var(--rouge-rose1);
}
#prixTotalPan {
    font-size: 130%; 

}
.infoNbPan {
    font-size: 90%!important;
}
.item {
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 5% 0 5%;
    height: 118px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom: 
}

.item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
}
.buttons {
    text-align: center;
    width: 8%;
    padding-right:10%;
}
.delete-btn {
    display: inline-block;
    Cursor: pointer;
}
.delete-btn {

    height: 17px;
    font-size: 110%;
    margin-top: 23.5px;
    /*  background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center;*/
}

.is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
}

.imgCoverPan {
    width: 75px;
    height: 75px;
    margin: 0 10px;
    border-radius: 5px;
}

.description {
    padding-top: 10px;
    margin-left: 5px;
    margin-right: 5%;
    min-width: 95px;
}

.description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}

.description span:first-child {
    margin-bottom: 5px;
}
.description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
}
 
.quantity {
    padding-top: 23.5px;
 
}
.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

.item button[class*=btn] {
    width: 30px; 
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.total-price {
    padding: 27px 0 0 7%;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

@media (max-width: 800px) {
    .shopping-cart {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .image img {
        width: 50%;
    }
    .image,
    .quantity,
    .description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }
    .buttons {
        margin-right: 20px;
    }
}