
.banner{
  background: url("https://media.giphy.com/media/8Py81X2P6RM2cErs6a/giphy.gif") no-repeat;
  height: 90px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.content-right{
   width: 50%;
/*    margin-left: 2rem;*/
    
}

.box{
   background: #191919;
   max-width: 95%;
   margin: 100px auto;
   padding: 200px 20px;
   border-radius: 8px;
   box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}

.box input{
   height: 35px;
   width: 100%;
   padding-left: 5%;
   margin-top: 20px;
   background: #363636;
   border: none;
   border-radius:4px;
   color: whitesmoke;
   outline: none;
}

.box textarea{
   height: 90px;
   width: 100%;
   padding: 10px 5%;
   margin-top: 20px;
   background: #363636;
   border: none;
   border-radius: 4px;
   color: whitesmoke;
   outline: none;
   resize: none;
}

.box button{
   height: 40px;
   width: 100%;
    margin-left: 0;
   margin-top: 20px;
   background: linear-gradient(to left, #00E2FF, #0695FE);
   border: none;
   border-radius:4px;
  
/*   outline: none;*/
   color: #fff;
}

